/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/output/
/dce-output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago/
/dapp/build/abis//*.json
*.swp
.DS_Store
cliquebait-generated.json
deploy.js
compile.js
/dapp/**/output
/dapp/build/abis/
server/server/.stack-work/
.stack-work/
purs/src/Contracts/
compile.js
deploy.js
