/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/abis/**/*.json
*.swp
.DS_Store
cliquebait-generated.json
foam.tcr.code-workspace
deploy.js
compile.js
/dapp/**/output
server/server/.stack-work/
.stack-work/
purs/src/bridge/
purs/src/Contracts/
purescript-tcr-common/output/
*.cabal
*.code-workspace
compile.js
deploy.js
docker-staging/
injectEnv.sh

.env
