language: node_js
dist: trusty
sudo: required
node_js: stable
env:
  - PATH=$HOME/purescript:$PATH
install:
  - make install
script:
  - make compile-contracts
  - make build-purs
  - make parcel-pages

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: frontend/dist
  on:
    branch: master 
