@import "foam.css/styles/settings";
@import "foam.css/styles/base";

body {
  background: color(blackish);
}

.actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@import "foam.css/styles/components/Button";
@import "foam.css/styles/components/Icon";
@import "foam.css/styles/utils";

// TODO (safareli) use js api instead https://www.mapbox.com/mapbox.js/api/v3.1.1/l-control-attribution/
.mapboxgl-ctrl-attrib {
  display: none;
}
